.cards {
  display: grid;
  grid-template-rows: repeat(3, 35rem);
  grid-gap: 4rem;
  margin: 5rem 0;
  @include respond(tablet) {
    grid-template-rows: 35rem;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    padding: 0 8rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 3rem 0;
  border-radius: 1rem;
  position: relative;

  .card-text {
    text-align: center;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
